/RustDedicated.exe
/UnityCrashHandler64.exe
/steam_api64.dll
/steamclient64.dll
/tier0_s64.dll
/UnityPlayer.dll
/vstdlib_s64.dll
/.git
/Bundles
/cfg
/MonoBleedingEdge
/RustDedicated_Data
/steamapps
/userdata
/Oxide/data/**
/Oxide/lang/**
/Oxide/logs/**
/*.md
/appcache
/config
/HarmonyMods
/logs
/server
/Compiler.exe
/oxide.zip
/Plugins/3rdParty/**